.movie-details-container {
  height: 90%;
  overflow: auto;
}

.movie-details {
  background-color: #fff;
  box-shadow: 0 1px 6px #e1e1e1;
  color: #7a7a7a;
  display: flex;
  gap: 10px;
  border-radius: 5px;
  margin: 25px 0px;
  padding: 10px;

  @media (max-width: 575px) {
    flex-direction: column;
    margin: 15px 0px;
    padding: 5px;
  }
}

.movie-details-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie-details-strong-text {
  color: #007f00;
  font-family: 'Roboto';
}

.movie-details-description {
  text-align: justify;
}

.movie-details-img {
  max-width: 200px;
  border-radius: 5px;

  @media (max-width: 575px) {
    max-width: 150px;
    order: -1;
    align-self: center;
  }
}

.movie-cast-list {
  list-style-type: none;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media (min-width: 576px) {
    padding: 20px 0px;
    gap: 20px;
  }
}
