.movie-list-container {
  overflow: auto;
  scrollbar-width: thin;
}

.movie-list {
  list-style-type: none;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media (min-width: 576px) {
    padding: 20px 0px;
    gap: 20px;
  }
}
