.movie-card {
  background-color: #fff;
  box-shadow: 0 1px 10px 4px #e1e1e1;
  width: 45%;
  max-width: 160px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;

  @media (max-width: 575px) {
    gap: 7px;
    padding: 5px;
  }
}

.movie-card-img {
  width: 100%;
  border-radius: 3px;

  @media (max-width: 575px) {
    height: 150px;
  }
}

.movie-card-title {
  color: #007f00;
  font-family: 'Roboto';
}

.movie-card-ratings {
  color: #696969;
  font-family: 'Roboto';
}

.movie-card-view-details-btn {
  align-self: center;
  margin-top: auto;
  background-color: #beffbe;
  color: #202020;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  padding: 5px 8px;

  @media (max-width: 575px) {
    padding: 3px 5px;
    font-size: 12px;
  }
}
